* {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
}

section {
    border-right: solid 8px green;
    border-left: dashed 8px red;
    border-top: dotted 8px yellow;
    border-bottom: double 8px blue;
    width: 440px;
    height: 200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 27px;
    text-shadow: 6px 6px 4px rgba(150, 150, 150, 1);
}

article {
    text-align: center;
    margin: 0 auto;
    width: 330px;
    position:relative;
    z-index:10;
    padding:30px;
    border:3px solid blue;
    background: green;
    border-radius: 330px;
}

span {
    text-shadow: 6px 6px 11px rgba(150, 150, 150, 1);
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    margin-top: -10px;
}

article:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:3px;
    left:3px;
    right:3px;
    bottom:3px;
    border:3px solid red;
    background:yellow;
    border-radius: 330px;
}

article:after {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    background: white;
    border-radius: 330px;
}

input[type="text"] {
    width: 150px;
    background-color: #D8921A;
    text-align: center;
    border-style: outset;
    border-color: #FFA500;
}

#small {
    position: absolute;
    background-color: #A9AAAA;
    opacity: 0.8;
    top: 117px;
    z-index: 100;
    right: 525px;
    border-radius: 200px;
    width: 22px;
    height: 22px;
}

#big {
    color: white;
    vertical-align: bottom;
    position: absolute;
    background-color: #A9AAAA;
    opacity: 0.8;
    top: 28px;
    z-index: 100;
    right: 269px;
    border-radius: 200px;
    width: 81px;
    height: 46px;
    text-align: center;
    font-weight: bold;
}

#big
{
    position:absolute;
    z-index:10;
    padding:10px;
    background:  #A9AAAA;
}

#big:before
{
    content:"";
    position:absolute;
    z-index:-1;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    border:4px dashed white;
    border-radius: 200px;
}

#midd {
    color: white;
    vertical-align: bottom;
    position: absolute;
    background-color: #A9AAAA;
    opacity: 0.8;
    top: 78px;
    z-index: 100;
    right: 359px;
    border-radius: 200px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

#midd
{
    position:absolute;
    z-index:10;
    padding:10px;
    background:  #A9AAAA;
}

#midd:before
{
    content:"";
    position:absolute;
    z-index:-1;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    border:3px dashed white;
    border-radius: 200px;
}

#midd {
    position: absolute;
    background-color: #A9AAAA;
    opacity: 0.8;
    top: 80px;
    z-index: 100;
    right: 488px;
    border-radius: 200px;
    width: 2px;
    height: 2px;
}

#midd {
    color: white;
    vertical-align: bottom;
    position: absolute;
    background-color: #A9AAAA;
    opacity: 0.8;
    top: 78px;
    z-index: 100;
    right: 360px;
    border-radius: 200px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

#small
{
    position:absolute;
    z-index:10;
    padding:10px;
    background:  #A9AAAA;
}

#small:before
{
    content:"";
    position:absolute;
    z-index:-1;
    top:5px;
    left:5px;
    right:5px;
    bottom:5px;
    border:2px dashed white;
    border-radius: 200px;
}

#small {
    position: absolute;
    background-color: #A9AAAA;
    opacity: 0.8;
    top: 117px;
    z-index: 100;
    right: 394px;
    border-radius: 200px;
    width: 2px;
    height: 2px;
}












