@-webkit-keyframes nomove {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }

    15% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }

    30% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }

    45% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
	
	60% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }

    75% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
}

div#result {
    -webkit-animation-name: nomove;
    -webkit-animation-delay: 0.0s;
    -webkit-animation-duration: 0.0s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: initial;
    -webkit-animation-timing-function: linear;
}
