div, section, hr, article, header, h4, img, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 14px;

    .wrapper {
        width: 630px;

        section {
            hr {
                border-width: thin;
                width: 100%;
                border: 0px;
                border-bottom: 1px inset;
            }

            article {
                margin-top: 5px;
                margin-bottom: 5px;
                ;
                margin-right: 13.5px;
                float: left;
                width: 144px;

                header {
                    h4 {
                        a {
                            color: #1F4FA1;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                p {
                    a {
                        color: #1F4FA1;
                        font-size: .96em;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                            color: #DC7D12;
                        }
                    }
                }

                article::after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
    }
}
